#root {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffff66;
  height: 150px;
  padding: 20px;
  color: #0066ff;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input {
  padding: 0 0 0 0;
  width: 400px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-overflow: ellipsis;
}
