#root {
  font-family: 'Roboto', sans-serif;
}

span {
    margin: 0 10px;
}

span:first-of-type{
    margin-left: 0;
}

span:last-of-type{
    margin-right: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffff66;
  height: 150px;
  padding: 20px;
  color: #0066ff;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input {
  margin-top: 5em;
  margin-bottom: 3em;
  width: 400px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-overflow: ellipsis;
}

.container-1 {
  padding-top: 50px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;;
  grid-template-rows: auto;
  grid-gap: 50px 50px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.container-2 {
  padding-bottom: 200px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: stretch;
}

.item-1 {
  grid-column: auto;
  grid-row: auto;
  justify-self: stretch;
  align-self: stretch;
}
