<!DOCTYPE html>
<html>
  <head>
    <title>Lostandfoundpets</title>
  </head>

  <body class ="<%= controller_name %> <%= action_name %>">

    <%= render 'layouts/header' %>

    <%= yield %>

  </body>
</html>
